GOOGLE_CLIENT_EMAIL="your-service-account-email@appspot.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your_sheet_id_here"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="supersecretpassword123"
JWT_SECRET="generate_a_random_secret_string"
